header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

header, footer {
    min-height: 20vh;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 35px;
    padding: 0;
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF9;
    margin: 35px;
    }
body {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0px;
}

.section1-container {
    display: flex;
    background-color: #1F2937; 
    align-items: stretch;
}

.textbutton-container {
    background-color: black;
}

.image-container {
    background-color: blue;
    flex: 1 0 50%;
}

.image-container p {
    background-color: lightgray;
    display: flex;
    height: 12rem;
    margin: 26px;
    width: 12rem;
    align-self: center;
    text-align: center;
    width: 50%;
}

.image-container, .textbutton-container {
    padding: 32px;
}

.section1-container p {
    font-size: 18px;
    color: #e5e7eb;
}

h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf9;
}










footer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 72px;
    background: #eee;
    align-self: center;
    text-align: center;
    width: 100%;
  }